<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.button {
  background-color: #45A29E;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}
.but1 {
  background-color: #45A29E;
  color: black;
  border: 2px solid #45A29E;
  border-radius: 10px;
}
.but1:hover {
  background-color: white;
  color: white;
}
.but2 {
  background-color: white;
  color: black;
  border: 2px solid #45A29E;
  text-decoration: none;
  border-radius: 10px;
}
.but2:hover {
  background-color: #45A29E;
  color: white;
}
.but3 {
  background-color: white;
  color: black;
  border: 2px solid #3498DB;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
}
.but3:hover {
  background-color: #3498DB;
  color: white;
}
.bodybg{
  background-color: #1F2833;
}
.top{
  background-color: #45A29E;
  padding-top: 5px;
}
.bottom{
  background-color: #45A29E;
  padding-top: 5px;
  padding-bottom: 5px;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
.example {
  background-color: lightgrey;
  width: 900px;
  border: 15px solid black;
  padding: 10px;
  margin: auto;
  text-align: center;
  border-radius: 15px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>
<body class="bodybg">
  <div class="example">
    <div class="top">
      <br>
      <h1><p>Welcome to Bad Idea Break Down</p></h1>
      <br>
      <hr>
    </div>
    <hr>
    <div class="row">
      <div class="column">
        <h4>{{viewTitle}}</h4>
        <hr>
        <div class="col-md-8.offset-md-3" style="margin:auto; width:700px;">
          <form action="/employee" method="POST" autocomplete="off">
            <input type="hidden" name="_id" value="{{employee._id}}">
            <div class="form-row">
              <div class="form-group col-md-8">
                <label>Your Idea</label>
                <input type="text" class="form-control" name="Bad_Idea1" placeholder="Your Idea" value="{{employee.Bad_Idea1}}">
              </div>
              <div class="form-group col-md-4">
                <label>Genre</label>
                <input type="text" class="form-control" name="Genre" placeholder="Genre" value="{{employee.Genre}}">
              </div>
            </div>
            <hr>
            <div class="form-group">
              <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <div class="top">
    <br>
    <div class="form-group">
      <a><h4> Check out other ideas and break them down! </h4> </a>
      <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View Ideas</a>
    </div>
    <br>
    <div>
  </div>
</body>
</html>
